


<% @attachment_index ||= -1 %>

<div class="col-md-<%= field.field_width %>">
<%= f.label field.id, field.name.humanize, :class => "col-md-2 control-label" %>
<%= f.hidden_field field.id, :value => field.id %>
<%# raise %>

  <div class="col-md-10">

  <% if @dynamic_form_entry.attachments.size != 0 %>

    <%= fields_for "dynamic_form_entry[attachments_attributes][#{@attachment_index += 1}]",
          @dynamic_form_entry.find_attachment(field.id), :multipart => true  do |attachment| %>

        <%= attachment.hidden_field :content_meta, value: field.id %>
        <% if attachment.object %>
          <%= attachment.hidden_field :id, value: attachment.object.id %>
          <%= attachment.label "Delete" if attachment.object.id %>
          <%= attachment.check_box :remove_filename if attachment.object.id %>
          <%= attachment_preview(attachment) %>

        <% else %>
          <%= attachment.file_field :filename, :class => "form-control uploader" %>
        <% end %>

        <%# attachment.hidden_field :id, value: attachment.object.id  if attachment.object %>

        <%# attachment.file_field :filename, :class => "form-control uploader" unless attachment.object %>
        <%= attachment.hidden_field :filename_cache, value: (attachment.object.filename_url_or_cached_url rescue '') %>
        <%# attachment.check_box :remove_filename %>

        <%# attachment_preview(attachment) if attachment.object.try(:filename) %>

      <% end %>


  <% else  %>
      <%= fields_for "dynamic_form_entry[attachments_attributes][#{field.id}]" do |attachment| %>

        <%= attachment.hidden_field :content_name, value: field.name %>

        <%= attachment.file_field :filename, :class => "form-control uploader" %>
        <%= attachment.hidden_field :filename_cache %>
        <%= attachment.hidden_field :content_meta, value: field.id %>
        <%# image_tag(attachment.object.filename_url,size: "100" ) if attachment.object.try(:filename) %>

      <% end %>
    <% end %>
    <% if field.required? %>
		<span class="col-xs-1 required required-field">*</span>
  	<% end %>

  </div>
</div>
