







<div class="col-md-<%= field.field_width %>">
<%= f.label field.id, field.name.humanize, :class => "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= fields_for "dynamic_form_entry[attachments_attributes][#{field.id}]", 
        @dynamic_form_entry.attachments.build, :multipart => true  do |attachment| %>
        
      <%= attachment.hidden_field :content_name, value: field.name %>

      <%= attachment.file_field :filename, :class => "form-control uploader" %>
      <%= attachment.hidden_field :filename_cache %>

      
    <% end %>
    
  </div>
</div>







<!-- <div class="col-md-<%= field.field_width %>">
  <%= f.label field.id, field.name.humanize, :class => "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.file_field field.id, :multiple => true, :class => "form-control uploader"  %>
    <%# f.hidden_field :field_cache, value: field.filename_cache %>

    <% if defined?(errors) and errors.present? %>
		<small style="color:red"><%= errors.join(', ') %></small>
	 <% end %>
  </div>

  <% if !@dynamic_form_entry.new_record?  %>
    <% if !@file_upload.file_upload_preview(field.id).nil? %>
      <% attachment_url = @file_upload.file_upload_preview(field.id) %>
      <%=  link_to('Preview Attachment', attachment_url.filename.url, class: 'btn btn-success') %>
    <% end %>
  <% end %>

  <% if field.required? %>
	 <span class="col-xs-1 required required-field">*</span>
  <% end %>

</div> -->








<!-- <div class="col-md-<%= field.field_width %>">
<%= f.label field.id, field.name.humanize, :class => "col-md-2 control-label" %>
  <div class="col-md-10">
  
  <% if @dynamic_form_entry.attachments.size != 0 %>
    <%= fields_for "dynamic_form_entry[attachments_attributes][#{field.id}]", 
          field.attachments.first, :multipart => true  do |attachment| %>
          
        <%= attachment.hidden_field :content_name, value: field.name %>

        <%= attachment.file_field :filename, :class => "form-control uploader" %>
        <%= attachment.hidden_field :filename_cache, value: attachment.object.filename_url %>

        <%# p attachment.object.as_json %>
        <%= image_tag(attachment.object.filename_url,size: "100" ) if attachment.object.filename? %>

      <% end %>
    

  <% else  %>
      <%= fields_for "dynamic_form_entry[attachments_attributes][#{field.id}]", 
         field.attachments.first, :multipart => true  do |attachment| %>
          
        <%= attachment.hidden_field :content_name, value: field.name %>

        <%= attachment.file_field :filename, :class => "form-control uploader" %>
        <%= attachment.hidden_field :filename_cache %>
        <%# p attachment.object.as_json %>
        <%= image_tag(attachment.object.filename_url,size: "100" ) if attachment.object.filename? %>

      <% end %>
    <% end %>
    
  </div>
</div>
 -->