<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel panel-primary">
	            <div class="panel-heading">
	             	<div class="panel-title"><strong>Sign up</strong></div>
	             	<div style="float:right; font-size: 100%; position: relative; top:-10px;">
	             		<%= link_to "Sign in", new_session_path(resource_name), {:style => 'color:white;'} %>
	             	</div>
	            </div>
            	<div class="panel-body">
                    
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email", :required => true %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <%= f.password_field :password, autocomplete: "off",  :class => "form-control pw", :placeholder => "Create Password", 
                            														:data => { :toggle => 'popover', :placement => 'top', :trigger => 'focus', :content => 'Password Length must be at least 8 characters'} %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
                            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control cpw", :placeholder => "Re-type your password",
                            														:data => { :toggle => 'popover', :placement => 'top', :trigger => 'focus', :content => 'Password confirmation must match'} %>
                        </div>
                    </div>

                    <%= f.submit "SUBMIT", :class => 'btn btn-success btn-block' %>
                    <div class="spacer"></div>

                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-facebook" href="<%= user_omniauth_authorize_path(:facebook) %>">
                            <i class="fa fa-facebook fa-2x"></i> Sign up with Facebook
                        </a>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-google-plus" href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
                            <i class="fa fa-google-plus fa-2x"></i> Sign up with Google
                        </a>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">Didn't receive confirmation email?
                                <%= link_to "Click here", new_confirmation_path(resource_name), :class => 'primary' %>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
<% end %>
<script type="text/javascript">
$('.pw').popover();
$('.cpw').popover();
</script>