<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>OmniAuth Provider</th>
      <th>Name</th>
      <th>Last Signed in at</th>
      <th>Created at</th>
      <th>Applications</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.provider.blank? ? 'None' : user.provider %></td>
        <td><%= user.name.blank? ? 'None' : user.name %></td>
        <td><%= user.last_sign_in_at.strftime(" %l:%M %p %b. %d, %Y") %></td>
        <td><%= user.created_at.strftime(" %l:%M %p %b. %d, %Y") %></td>
        <td>
          <%= link_to(dynamic_forms_engine.dynamic_form_entries_path(:user => user.id), :class => 'btn btn-sm btn-primary')  do %>
            Entries<span class="badge"><%= user.dynamic_form_entries.size %></span>
          <% end %>  
        </td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-warning' unless user.superuser? %></td>
        <td><%= link_to 'Destroy', user, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if current_user.superuser? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
