<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" align="center">Feedback
          <br><small>Questions or concerns?<br>Please let us know on how we can improve your experience</small></br>
          <small>You can also give us a call <b>(415)241-0100</b> regarding your application</small>
        </h3>
      </div>
      <%= form_for(@feedback, remote: true, url: main_app.feedbacks_path) do |f| %>
        <% if @feedback.errors.any? %>
          <% @feedback.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        <% end %>

        <div class="modal-body">
            <%= f.text_area :report, :class => 'form-control', :placeholder => 'Suggestions or Concerns',  rows: 10 %>
        </div>
        <div class="modal-footer">
          <%= button_tag 'Close', :class => 'btn btn-default', :data => {:dismiss => "modal"} %>
          <%= f.submit 'Submit', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>