
<div class="navbar navbar-new-primary navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= dynamic_forms_engine.dynamic_form_entries_path %>">Tenant Today!</a>
		</div>

		<div class="navbar-collapse collapse" id ="navbar-collapse">
			<ul class="nav navbar-nav">
				<% if user_signed_in? %>
					<li>
						<%= link_to(dynamic_forms_engine.new_dynamic_form_entry_path(:dynamic_form_type_id => Rails.application.config.tenant_app_id), :class => 'form-link') do  %>
						Start NEW Rental Application <span class="glyphicon glyphicon-pencil"></span>
						<% end %>
					</li>
					<li>
						<%= link_to(dynamic_forms_engine.new_dynamic_form_entry_path(:dynamic_form_type_id => Rails.application.config.guarantor_app_id), :class => 'form-link') do  %>
						Start NEW Guarantor Application  <span class="glyphicon glyphicon-pencil"></span>
						<% end %>
					</li>
					<li>
						<%= link_to(dynamic_forms_engine.dynamic_form_entries_path, :class => 'form-link') do %>
						View Saved Forms  <span class="glyphicon glyphicon-list-alt"></span>
						<% end %>
					</li>
					<li>
						<%= link_to "New Form", dynamic_forms_engine.new_dynamic_form_type_path  if current_user.email == "applications@sfrent.net" %>
					</li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">

					<% if user_signed_in? %>
						<li>
							<%= link_to(main_app.destroy_user_session_path, :id => 'logout',  :method=>'delete') do %>
			                 	Logout  <span class="glyphicon glyphicon-log-out"></span>
			                <% end %>
		                </li>
		            <% else %>
		            	<li>
							<%= link_to(main_app.new_user_session_path, :id => 'login') do %>
			                 	Login <span class="glyphicon glyphicon-log-in"></span>
			                <% end %>
		                </li>

		                <li>
			                <%= link_to(main_app.new_user_registration_path, :id => 'sign-up') do %>
			                 	Sign Up <span class="glyphicon glyphicon-sign-up"></span>
			                <% end %>
		                </li>

		            <% end %>
        		</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
