<!DOCTYPE html>
<html>
<head>
  <title>Tenant Application</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'house.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>

	<%= render partial: 'layouts/nav' %>

	<%= render partial: 'layouts/feedback_tab' %>

	<div class="container">
		<%= render partial: 'layouts/notice' %>
		<%= yield %>
	</div>

	<footer class="container text-center">
		&copy; 2015 Incu-tech, LLC. 
		<br>
		<%= Rails.application.config.version_number + ' ' + Rails.application.config.version_date %>
	</footer>

</body>
</html>
